# Core Flask and Server
Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==22.0.0
python-dotenv==1.0.1

# Web Scraping & Data Extraction
requests==2.32.3
beautifulsoup4==4.12.3
selenium==4.22.0
webdriver-manager==4.0.1
colorgram.py==1.2.0

# AI & Vector Store
openai==1.35.13
langchain==0.2.11
chromadb==0.5.4

# Dependency for Langchain
langchain-openai==0.1.14